*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: url('./files/fundo.svg');
    background-color: bisque;
    background-size: cover;

    font-family: 'Libre Baskerville', serif;
}
 
body header{
    width: 90%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    font-size: 1.4rem;
}

header h1{
    color:rgba(0, 0, 0, 0.7);
}

body header p{
    text-align: center;
    font-size: 1.1rem;
}


header img{
    width: 12rem;
    border-radius: 100%;
    box-shadow: 2px 2px #16161636;
}

header img:nth-of-type(2){
    width: 2rem;
    color: #F69E9D;
    border-radius: 0;
    box-shadow: 0 0;
    opacity: 0.7;
}

main{
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    gap: 1rem;
    flex: 0.6;

    font-size: 1.3rem;

}

main a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(45deg, #F69E9D, #e3d2c4);
    line-height: 3.5rem;
    width: 90%;
    max-width: 300px;
    text-align: center;
    border-radius: 15px;

    box-shadow: 0 2px #16161636;
}

footer a{
    text-align: center;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

@media(max-width: 540px){
    img{
        width: 10rem;
    }
}

@media(max-width: 300px){
    html{
      font-size: 50%;
    }
}